- require 'json'
- markers = locals[:pins].to_json
- postData = locals[:postData].to_json
= content_for :header_scripts do
	%script{:src=>"https://maps.googleapis.com/maps/api/js"}

	:javascript
		function initialize() {
			var post = eval(#{postData});
			var lat = post.lat;
			var long = post.lon;
			var zoom = #{locals[:zoom]};  
			var map_canvas = document.getElementById('map_canvas');
			var map_options = {
				center: new google.maps.LatLng(lat, long),
				zoom: zoom,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(map_canvas, map_options);
			var points = eval(#{markers});
			for(var item in points)
			{
				var lat = points[item].lat;
				var lon = points[item].lon;	
				var target = points[item].post_ref;			
				var latLong = new google.maps.LatLng(lat, lon);
				var marker = new google.maps.Marker({
				position: latLong,
				map: map,
				title: 'Hello World!',
				animation: google.maps.Animation.DROP
				});
				google.maps.event.addListener(marker, 'click', function() {
					window.location.assign("/"+target);
				});
			}		
		}
		google.maps.event.addDomListener(window, 'load', initialize);

= content_for :navbar do
	.navbar.navbar-default{:role=>"navigation"}
		.container-fluid
			.navbar-header
				%button.navbar-toggle{:type=>"button", :'data-toggle'=>"collapse", :'data-target'=>".navbar-collapse"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand{:href=>"#"} Project name

			.navbar-collapse.collapse
				%ul.nav.navbar-nav
					%li.active
						%a{:href=>"#"} Link
					%li
						%a{:href=>"#"} Link
					%li
						%a{:href=>"#"} Link
= content_for :jumbo do
	%div{:id=>"map_canvas"}

= content_for :body do
	
	%br
	.row
		.col-md-12.well
			.btn-group
				%button.btn Prev
				%button.btn Next

			%h1 
				=locals[:title]
			%p.lead 
				=locals[:body]
	%hr
	%footer
		%p &copy; Company 2014